<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Planory <ion-badge color="danger">{{tareasPCount}}</ion-badge> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-task </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header-form">
    <ion-icon name="add-circle-outline"></ion-icon>
      <div>
        <h1>Agregar tarea</h1>
        <p>Crea una nueva tarea para tu lista</p>
      </div>
    </div>

  <div class="addTaskContainer">

  <ion-item lines="none">
    <ion-input label="Título de la tarea" [(ngModel)]="title" label-placement="floating"  placeholder="Ingresa el título" ></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input label="Descripción de la tarea" [(ngModel)]="description" label-placement="floating" placeholder="Ingresa la descripción"></ion-input>
  </ion-item>
  <div class="btncontainer">
    <ion-button id="add-alert" shape="round">Agregar Tarea</ion-button>
    <ion-alert 
      trigger="add-alert"
      header="Confirmar"
      message="¿Deseas guardar la tarea?"
      [buttons]="alertButtons">
    </ion-alert>
  </div>

  </div>
</ion-content>
