<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Planory <ion-badge color="danger">{{tareasPCount}}</ion-badge> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-task </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-input label="Título de la tarea" [(ngModel)]="title" label-placement="floating" fill="outline" placeholder="Ingresa el título"></ion-input>

  <ion-input label="Descripción de la tarea" [(ngModel)]="description" label-placement="floating" fill="outline" placeholder="Ingresa la descripción"></ion-input>

  <div class="btncontainer">
    <ion-button id="add-alert" shape="round">Agregar Tarea</ion-button>
    <ion-alert
      trigger="add-alert"
      header="Confirmar"
      message="¿Deseas guardar la tarea?"
      [buttons]="alertButtons">
    </ion-alert>
  </div>



</ion-content>
