<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Tareas
    </ion-tab-button>
    <ion-tab-button tab="add-task">
      <ion-icon name="add-circle-outline"></ion-icon>
      Agregar
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      Calendario
    </ion-tab-button>
    <ion-tab-button tab="estadisticas">
      <ion-icon name="podium"></ion-icon>
      Estadisticas
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>